* { margin: 0; padding: 0; }
#menu-wrap { width: 1000px; margin: 25px auto; background:#333333; position:relative;height:35px; z-index:99999} 
#menu-wrap a	{ text-decoration: none; }
#menu-wrap ul	{ list-style: none; }

/* 
	LEVEL ONE
*/
ul.dropdown                         { border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	position:relative;}
	
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; background: #333;url("images/seperator.gif") bottom right no-repeat;}
ul.dropdown li a                    { display: block; padding: 0px 20px; border-right: 1px solid #333; color: #CCC; font-weight:normal;	line-height:35px;}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover, ul.dropdown li:hover  { background:#4E71AB; color:#FFF; position: relative; }
ul.dropdown li.hover a  { color:#FFF;}
.lowerMenu ul.dropdown li a {color:black;} 
.lowerMenu ul.dropdown li { background-color:white; }
.lowerMenu ul.dropdown li a { border: 0; }
.lowerMenu ul.dropdown li a.inactive {color:#333;}
.lowerMenu ul.dropdown li.hover, .lowerMenu ul.dropdown li:hover { background:#4E71AB; color:#FFF; position: relative; }
.lowerMenu ul.dropdown li.hover a, .lowerMenu ul.dropdown li:hover a{ color:#FFF;}
.lowerMenu ul.dropdown li.hover a.inactive, .lowerMenu ul.dropdown li:hover a.inactive  { background:white; color:#333; position: relative; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 		{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; font-size:12px; font-style:normal; color:#00000; }
ul.dropdown ul li { font-weight: normal; background:#E2E9F1; border-bottom: 1px solid #ccc; float: none; }
							  
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul.sub_menu a { border-right: none; width: 100%; display: inline-block; color: #000 !important;} 
ul.dropdown ul.sub_menu li.hover, ul.dropdown ul li:hover  { background:#4E71AB; color:#FFF; position: relative; }
ul.dropdown ul.sub_menu li.hover a { color:#FFF;}

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; color:#000 }
ul.dropdown li:hover > ul 			{ visibility: visible; color:#000 }


ul.dropdown ul.sub_menu ul.sub_sub_menu a { border-right: none; width: 100%; display: inline-block; color: #000;} 
ul.dropdown ul.sub_menu ul.sub_sub_menu li.hover, ul.dropdown ul li:hover  { background:#4E71AB; color:#CCC; position: relative; }
ul.dropdown ul.sub_menu ul.sub_sub_menu li.hover a { color:#FFF;}

